.header{
    background: url(images/otras/ushbanner.jpg) no-repeat;
    background-size: cover;
}
.fjio {

    position: fixed;
  
    top: 0;
  
    width: 100%
}
.header .navbar{
background-color: transparent !important;
}
.redondo{
    border-radius: 50%;
    border-color: black;
    overflow: hidden;
}
