.header {
    background: url(hC:\Users\Seguridad\Desktop\Porfolio\empaquetado-html\img\navbar.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
  }
  .header .navbar {
    background-color: transparent !important;
  }